.image-gallery {
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.85rem;

  .image-container {
    overflow: hidden;
  }

  .swiper-container {
    transform: scale(1.5);
    margin: 2.5rem 0;
    touch-action: pan-y;
    width: 100%;
  }

  .swiper-slide-active {
    z-index: 10 !important;
  }

  .image-gallery__image {
    width: 100%;
    aspect-ratio: 0.75;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .categories {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: .75rem;
    padding-block: 1rem;
    padding-inline: 1rem;
    //-ms-overflow-style: none;
    //scrollbar-width: none;

    .btn {
      margin: 0;
      white-space: nowrap;
    }
  }
}