.newItemForm {
  padding: 0 1rem;

  input:not([type="range"]), select {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 300;
    margin-bottom: 1rem;
    width: 100%;

    &::placeholder {
      color: white;
      font-weight: 300;
    }
  }

  .upload-wrap {
    margin: 2rem 0 3rem;

    .chooseImage {
      display: block;
      color: white;
      margin-top: 1rem;
      margin-left: 1.2rem;
    }

    .upload-or {
      display: flex;
      justify-content: center;
      margin: -0.5rem;
      font-size: 0.8rem;
      letter-spacing: 4px;
      text-align: center;
    }

    .file-upload-item {
      position: relative;
      width: 100%;
      margin: 1rem 0;

      label {
        display: block;
        font-size: 1rem;
        margin-bottom: 10px;
        color: #fff;
      }

      input[type="file"] {
        position: absolute;
        inset: 0;
        width: 100%;
        cursor: pointer;
        opacity: 0;
        margin: 0;
      }

      &::before {
        content: 'From your image gallery';
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFFFFF3F' stroke-width='2' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");      padding: 20px;
        color: rgba(255, 255, 255, 0.50);
        cursor: pointer;
        pointer-events: none;
      }

      &::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: url('/icons/upload-image.svg') no-repeat center center;
        background-size: contain;
        position: absolute;
        right: 1rem;
        top: 1.25rem;
        pointer-events: none;
      }

      &.upload-google-image {
        &::before {
          content: 'Recommended image';
        }
        &::after {
          background: url('/icons/recommended-image.svg') no-repeat center center;
          background-size: contain;
        }
      }

      .file-info {
        display: flex;
        position: relative;
        z-index: 1;
        justify-content: space-between;
        margin: 0.75rem 0 0;
        align-items: center;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 80%;
          display: block;
        }
        .close-button {
          background: transparent;
          border: 1px solid #434343;
          font-size: 1rem;
          border-radius: 50%;
          color: white;
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .slider {
    margin-bottom: 2rem;
  }

  .rating-container {
    justify-content: space-between;
    display: flex;

    input {
      width: 100%;
    }

    .range-value {
      font-size: 1.3rem;
      font-family: "NeueMetana", serif;
    }

    &.slider-titles {
      opacity: 0.5;
      font-size: 0.95rem;
    }
  }

  .btn {
    width: 100%;
  }

}