.editItemForm {
  padding: 0 1rem;
  .image-uploaded {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    .uploaded-image {
      max-height: 230px;
      max-width: 100%;
    }
  }


  .slider {
    margin-bottom: 2rem;
  }

  .rating-container {
    justify-content: space-between;
    display: flex;

    input {
      width: 100%;
    }

    .range-value {
      font-size: 1.3rem;
      font-family: "NeueMetana", serif;
    }

    &.slider-titles {
      opacity: 0.5;
      font-size: 0.95rem;
    }
  }

  .existingData {
    text-transform: uppercase;
    margin-bottom: 2rem;

    .form-group {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0.1rem 0;

      &:last-of-type {
        border-bottom: none;
      }

      span {
        font-weight: 600;
      }

      p {
        margin: 0;
      }
    }
  }

  button {
    width: 100%;
  }
}