// Fonts

.btn-primary, .btn-secondary {
  text-transform: uppercase;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-secondary.active {
  background-color: $primary;
  color: #000000;
}

.btn-textlink {
  font-weight: 300;
  font-size: 1rem;
}