// Fonts
:root {
  --bs-font-sans-serif: var(--font-geist-sans);
  --bs-body-font-weight: 300;
  --bs-body-font-size: 15px;
}

$font-sans-serif: var(--font-geist-sans) !default;

h1 {
  font-family: "proxima-sera", serif;
  font-weight: 300;
  font-style: normal;
}