h1 {
  font-family: "NeueMetana", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
}

h2 {
  font-family: "NeueMetana", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
}

.voting__header {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 2rem;
}