// Fonts

@font-face {
  font-family: 'NeueMetana';
  src: url('../public/fonts/NeueMetana-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMetana';
  src: url('../public/fonts/NeueMetana-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --bs-font-sans-serif: var(--font-geist-sans);
  --bs-body-font-weight: 300;
  --bs-body-font-size: 15px;
}

$font-sans-serif: var(--font-geist-sans) !default;

h1 {
  font-family: "NeueMetana", sans-serif;
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 15px;
  overflow: hidden;
  touch-action: pan-x pan-y;
}

body {
  min-height: 100%;
  max-width: 100vw;
  touch-action: pan-x pan-y;
}

strong {
  font-weight: 500;
}

.link-underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}